body {
  background-color: #06171E;
  color: #c7c7c7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.class-list {

  & > li > div {
    display: flex;

    & > div {
      width: 33%;
    }
  }
}

.student-list {
  & > li > div {
    display: flex;

    & > div {
      width: 33%;
    }
  }
}

#create-student-form {
  & > li {
    & > div {
      width: 33%;
    }
  } 
}

#create-class-form {

  & > div {
    display: flex;

    & > label {
      padding: 5px 10px 5px 0;
      width: 33%;
    }
    & > input {
      margin: 5px 10px 5px 0;
      width: 33%;
    }
  }
}